version: '3'

services:
  frontend:
    build:
      context: '.'
    labels:
      shipyard.route: '/'
      shipyard.primary-route: 'true'
      shipyard.liveness.http.path: '/health'
      shipyard.liveness.initial_delay: '15'
      shipyard.liveness.period: '15'
      shipyard.readiness.http.path: '/health'
      shipyard.readiness.initial_delay: '10'
      shipyard.liveness.timeout_seconds: 15
      shipyard.readiness.period: '15'
    environment:
        SHIPYARD_DOMAIN_BACKEND: ${SHIPYARD_DOMAIN_BACKEND-}
    ports:
      - '3000:3000'
    env_file:
      - .env

  backend:
    build:
      context: '.'
    labels:
      shipyard.route: '/'
    environment:
        SHIPYARD_DOMAIN_FRONTEND: ${SHIPYARD_DOMAIN_FRONTEND-}
    ports:
      - '3001:3001'
    volumes:
      - 'dbdata:/app/data/database'
    env_file:
      - .env

volumes:
  dbdata:
